<style>
  table {
   
    width: 50%;
    border: 1px black;
    margin: auto;
    text-align: center;

  }

  th{
    border-style: solid;
    border-color: #2c2c2c;
  }

  td{
    border: 1px;
    border-style: groove;
    border-color: #2c2c2c;

  }
</style>

<h1>Exemplo 1</h1>
Descirção <br />
<input name="descircao" type="text" placeholder="Descrição" [(ngModel)]="produto.descricao" /> <br /><br />
Quantidade <br />
<input name="quantidade" type="number" placeholder="Quantidade" [(ngModel)]="produto.quantidade" /> <br /><br />
Preço <br />
<input name="preco" type="" placeholder="Preço" [(ngModel)]="produto.preco" /> <br /> <br />

<button (click)="add()">Adicionar</button>

<br />
<br />
<br />
<br />

<table>
  <thead>
    <th>Descrição</th>
    <th>Quantidade</th>
    <th>Preço</th>
    <th>Soma</th>
  </thead>
  <tbody>
    <tr *ngFor='let p of produtos'>

      <td>{{p.descricao}}</td>

      <td>{{p.quantidade}}</td>

      <td>{{p.preco}}</td>

      <td>{{p.getVlTotal()}}</td>

    </tr>
  </tbody>


  <tfoot>
    <br />
    <br />
    <br />
    <br />
    <tr>
      Total: <td>{{getTotal()}}</td>
    </tr>
  </tfoot>
</table>